---
import BaseHead from '../../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { useStoryblokApi } from '@storyblok/astro';
import { Debug } from 'astro:components';

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories/about', {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-light-neutral dark:bg-dark-neutral text-light-text dark:text-dark-text">
		<StoryblokComponent blok={content} updatedDate={data.story.published_at}>
	</body>
</html>


