---
import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'
import FormattedDate from '../components/FormattedDate.astro'
import BlogItem from '../components/BlogItem.astro'
import { Debug } from 'astro:components';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blogPost',
})

interface Post {
	title: string
	date: string
	description: string
	slug: string
	image: string
}

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("en-GB", {dateStyle: "full"}),
    description: story.content.description,
    slug: story.full_slug,
		image: story.content.image,
  }
})

const { blok } = Astro.props
---

<main class="flex flex-col items-center min-h-screen w-full">
	<section class="lg:w-5/12 w-4/5 ease-linear duration-200">
		<ul class="flex flex-wrap list-none m-0 p-0 w-full" {...storyblokEditable(blok)}>
			{
				posts.map((post: Post, index: number) => (
					<BlogItem post={post} index={index} />
				))
			}
		</ul>
	</section>
</main>

