---
const today = new Date();
---

<footer class="absolute bottom-0 text-center flex flex-col justify-center gap-4 mt-4 bg-slate-100 w-screen pt-4 pb-4 shadow">
	&copy; {today.getFullYear()} Easel Arts by Sarah Elizabeth. All rights reserved.
	<div class="flex justify-center gap-4">
		<a href="https://m.webtoo.ls/@asgtro" target="_blank">
			<span class="sr-only">Follow Me on Facebook</span>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook" aria-hidden="true" width="32" height="32">
				<path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/>
			</svg>
		</a>
		<a href="https://instagram.com/yourusername" target="_blank">
			<span class="sr-only">Follow Me on Instagram</span>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram" aria-hidden="true" width="32" height="32">
				<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
				<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
				<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
			</svg>
		</a>
	</div>
</footer>
