---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle.tsx';
---

<header class="bg-light-neutral dark:bg-dark-neutral text-light-text dark:text-dark-text m-0 mb-5 pt-0 pb-0 pl-4 pr-4 w-screen">
	<nav class="flex items-center justify-between decoration-0 ease-linear duration-200">
		<div class="flex justify-center items-center">
			<a href="/"><img src="/images/logo.svg" alt="Logo" class="w-16"/>
			</a>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="https://shop.easelartsbysarahelizabeth.co.uk" target="_blank">Shop</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="flex text-light-secondary dark:text-dark-secondary">
			<ThemeToggle client:only/>
			<div class="social-links flex">
				<a href="https://www.instagram.com/easelartsbysarahelizabeth/" class="pt-4 pb-4 pl-2 pr-2 border-b-4 border-solid border-transparent decoration-0" target="_blank">
					<span class="sr-only">Follow Me on Facebook</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook" aria-hidden="true" width="32" height="32">
						<path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/>
					</svg>
				</a>
				<a href="https://www.instagram.com/easelartsbysarahelizabeth/" class="pt-4 pb-4 pl-2 pr-2 border-b-4 border-solid border-transparent decoration-0" target="_blank">
					<span class="sr-only">Follow Me on Instagram</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram" aria-hidden="true" width="32" height="32">
						<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
						<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
						<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
					</svg>
				</a>
			</div>
		</div>
	</nav>
</header>
<style>
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>