---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---
 
<a href={href} class={`inline-block ml-2 mr-2 ${className} ${isActive ? 'font-semibold border-b-4 border-teal-700' : ''}`} {...props}>
	<slot />
</a>
