---
type Props = {
   imagePath: string;
   altText: string;
   title: string;
   rotate: string;
}

const { imagePath, altText, title, rotate } = Astro.props as Props;
---
<div class=`${rotate} w-2/3 md:w-1/4 p-3 pb-5 bg-dark-text dark:border-0 border-2 border-light-text`>
    <img src={imagePath} alt={altText}/>
    <p class="pt-4 text-center text-light-text">{title}</p>
</div>